.waves-effect{border-radius: 50px !important;margin: 40px !important;}
.text-uppercase{margin: 20px;font-family: lato;}
.text-muted{font-family: Georgia;font-weight: bold;text-shadow: 2px 2px 2px #cccccc;color: #2b2b2b !important;}
.error-body h1{font-size: 50px;font-weight: bold;font-family: Georgia;margin: 40px}
.error-page{background: url("../images/error-bg.jpg")no-repeat;background-position: center;padding: 50px}